input[type="text"]::placeholder {
    text-align: center;
}

body,html {
  height: 100%;
}

.vh-50 {
  height: 50vh;
}

.vh-75 {
  height: 75vh;
}

.search-result {
    padding-bottom: 40px;
}

ul.pagination{
    list-style-type: none;
}

em{
    color: blue;
}

.hidden {
    display: none!important;
}

#search-results {
    padding-top: 20px;
}

@media (max-width: 700px){
    #home-logo {
        max-width: 70%;
    }

    #search-results-logo-img {
        max-width: 70%;
        margin: auto;
        display: block;
    }

    #search-results-search-btn{
        display: none;
    }

    #search-results {
        padding-left: 5%;
        font-size: x-large;
    }
}

@media
(min-width: 700px) and
(max-width: 1000px)
{
    #search-results-logo-img {
        max-width: 70%;
        margin: auto;
        display: block;
    }

    #nav-wrapper{
        width: 100%;
    }

    #search-results{
        font-size: x-large;
    }
}

/* desktop */
@media (min-width: 1000px)
{
    #home-page-row{
        width: 100%;
    }

    #home-search-form{
        width: 70%;
        margin: auto;
    }

    #search-results-search-btn{
        display: inline-block;
    }

    #search-results-logo-img {
        max-width: 30%;
        float: left;
    }

    #search-results-page-search-form{
        width: 70%;
        float: right;
        max-width: 1200px;
        transform: translateY(70%);
    }

    #nav-wrapper {
        width: 100%;
    }
}